/* general charts styles */
.chart-container{
  background-color: var(--gray-200);
  padding: 24px 32px;
  position:relative;
}
.yAxis text, .xAxis text{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'sans-serif';
  font-size: 1rem;
}
.yAxis text{
  fill: #A9B1B7;
}
.xAxis text{
  fill: #000;
}
.axis-label{
  font-weight: 700;
}
.yAxis line{
  stroke-dasharray: 4;
  stroke: var(--gray-500);
  stroke-width: 1;
}
.source{
  font-size: 1rem;
  color: var(--gray-500);
}
.barLabel{
  text-anchor:middle;
  font-size: 14px;
}
/* color legend styles for charts */
.legend-container{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  padding-bottom: 0px;
  align-items: center;
}
.legend-item{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 8px;
  margin-right: 1rem;
}
.legend-circle{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 0;
}
.legend-circle-small{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0;
}
.legend-circle-medium{
  width: 11px;
  height: 11px;
  border-radius: 11px;
  margin: 0;
}